@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
//Variables
$light-color: #ffffff;
$dark-color: #212529;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
//Variables
$light-color: #ffffff;
$dark-color: #212529;

body,
html{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
header{
    height: 100px;
    background-color: $dark-color;
    border-bottom: $light-color;
    .navbar{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            .icon{
                font-size: 36px;
                font-weight: 700;
                color: $light-color;
                cursor: pointer;
            }
        }
        .nav__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__items{
                .nav__link{
                    font-size: 14px;
                    padding: 8px 25px;
                    color: $light-color;
                }
            }
            .icons{
                margin: 0 0 0 65px;
                a{
                    color: $light-color;
                    font-size: 19px;
                    padding: 8px;
                }
            }
        }
    }
}