@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
//Variables
$light-color: #ffffff;
$dark-color: #212529;
$link-color: #2bc0a4;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

//Variables
$light-color: #ffffff;
$dark-color: #212529;

body,
html {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 60px;
}

header {
    height: 100px;
    background: transparent;
    border-bottom: 1px solid #dfdfdf ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    .navbar {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            .icon {
                font-size: 36px;
                font-weight: 700;
                color: $light-color;
                cursor: pointer;
            }
        }

        .nav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__items {
                .nav__link {
                    font-size: 14px;
                    padding: 8px 25px;
                    color: $light-color;
                }
            }

            .icons {
                margin: 0 0 0 65px;

                a {
                    color: $light-color;
                    font-size: 19px;
                    padding: 8px;
                }
            }
        }
    }
}

//Hero Section
.hero {
    background-image: url('/src/img/bg1.jpg');
    height: 100vh;
    position: relative;
    &::after{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(4, 8, 29, 0.7);
        content: '';
        z-index: 1;
        top: 0;
        left: 0;
    }
    .hero__content {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        
        .hero__trailer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 60px;
            z-index: 3;
            .play__btn {
                i {
                    background-color: $light-color;
                    width: 30px;
                    height: 30px;
                    color: green;
                    border-radius: 32px;
                    font-size: 32px;
                }
            }

            .trailer__link {
                color: $light-color;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: underline;
                margin-left: 10px;
            }
        }

        .hero__text {
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            margin: 0 0 60px;
            color: $light-color;
            max-width: 1110px;
            z-index: 3;
        }

        .hero__btn {
            z-index: 3;
            .btn-1 {
                background-image: linear-gradient(to right, #7450fe 0%, #21d397 100%), linear-gradient(to right, #7450fe 0%, #21d397 100%);
                color: $light-color;
                border: none;
                outline: none;
                padding: 15px 45px;
                cursor: pointer;
                font-size: 13px;
                font-weight: 600;
                border-radius: 3px;
                border-left: 2px solid #7450fe;
                border-right: 2px solid #21d397;
                border-top: 2px solid #21d397;
                border-bottom: 2px solid #7450fe;
            }

            .btn-2 {
                border-left: 2px solid #7450fe;
                border-right: 2px solid #21d397;
                border-top: 2px solid #21d397;
                border-bottom: 2px solid #7450fe;
                color: $light-color;
                background: none;
                outline: none;
                padding: 15px 45px;
                cursor: pointer;
                font-size: 13px;
                font-weight: 600;
                border-radius: 3px;
                transition: 1s all;
                &:hover{
                    background: linear-gradient(to right, #7450fe, #21d397);
                    color: $light-color;
                    transition: 1s all;
                }
            }
        }
    }
}
//Badge Section
.badge{
    position: relative;
    .badge__main{
        position: absolute;
        bottom: -110px;
        left: 30px;
        right: 30px;
        width: 100%;
        z-index: 99;
        background-color: $light-color;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.24);
         box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.24);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .badge-1{
            max-width: 30%;
            padding: 45px;
            .badge__header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                i{
                    font-size: 24px;
                    color: $link-color;
                }
                h5{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            .badge__text{
                p{
                    font-size: 14px;
                    color: #51545f;
                    font-weight: 300;
                }
            }
        }
        .badge-2{
            max-width: 30%;
            padding: 45px;
            .badge__header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                i{
                    font-size: 24px;
                    color: $link-color;
                }
                h5{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            .badge__text{
                p{
                    font-size: 14px;
                    color: #51545f;
                    font-weight: 300;
                }
            }
        }
        .badge-3{
            max-width: 30%;
            padding: 45px;
            .badge__header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 8px;
                i{
                    font-size: 24px;
                    color: $link-color;
                }
                h5{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
            .badge__text{
                p{
                    font-size: 14px;
                    color: #51545f;
                    font-weight: 300;
                }
            }
        }
    }
}

main {
    //About Section
    .about{
        background-color: #f7f7f7;
        .about__main{
            padding: 200px 0 100px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .about__left{
                max-width: 45%;
                .about__header{
                    margin-bottom: 25px;
                    h2{
                        font-size: 38px;
                        font-weight: 500;
                        color: #232d37;
                        line-height: 1.25;
                    }
                }
                .about__text{
                    margin-bottom: 35px;
                    p{
                        color: #51545f;
                        font-size: 14px;
                        line-height: 2;
                        font-weight: 400;
                        margin-top: 24px;
                    }
                }
                .about__btn{
                    a{
                        padding: 15px 45px;
                        background: transparent;
                        border-left: 2px solid #7450fe;
                        border-right: 2px solid #21d397;
                        border-top: 2px solid #21d397;
                        border-bottom: 2px solid #7450fe;
                        border-radius: 3px;
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 44px;
                        transition: 1s all ;
                        cursor: pointer;
                        &:hover{
                            background: linear-gradient(to right, #7450fe, #21d397);
                            color: $light-color;
                            transition: 1s all;
                        }
                    }
                }
            }
            .about__right{
                max-width: 45%;
                img{
                    max-width: 445px;
                    border-radius: 5px;
                }
            }
        }
    }


    //Skills Section
    .skills{
        .skills__main{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 200px 0;
            .skills__left{
                max-width: 45%;
                img{
                    width: 100%;
                }
            }
            .skills__right{
                max-width: 35%;
                .skills__header{
                    margin-bottom: 15px;
                    font-size: 30px;
                    h2{
                        font-weight: 500;
                        color: #232d37;
                        line-height: 1.25;
                    }
                }
                .skills__text{
                    max-width: 445px;
                    margin-bottom: 16px;
                    p{
                        color: #51545f;
                        font-size: 14px;
                        line-height: 2;
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .skills__content{
                    margin-top: 16px;
                    .progressbar-1{
                        margin-bottom: 35px;
                        .progressbar__header{
                            max-width: 440.5px;
                            .progress__info{
                                width: 90%;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .bar-1{
                            position: relative;
                            margin-top: 10px;
                            max-width: 440.5px;
                            height: 8px;
                            background-color: #e5e5e5;
                            span{
                                width: 90%;
                                height: 100%;
                                position: absolute;
                                background: linear-gradient(to right, #7450fe, #21d397);
                            }
                        }
                    }
                    .progressbar-2{
                        margin-bottom: 35px;
                        .progressbar__header{
                            max-width: 440.5px;
                            .progress__info{
                                width: 95%;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .bar-2{
                            position: relative;
                            margin-top: 10px;
                            max-width: 440.5px;
                            height: 8px;
                            background-color: #e5e5e5;
                            span{
                                width: 95%;
                                height: 100%;
                                position: absolute;
                                background: linear-gradient(to right, #7450fe, #21d397);
                            }
                        }
                    }
                    .progressbar-3{
                        margin-bottom: 35px;
                        .progressbar__header{
                            max-width: 440.5px;
                            .progress__info{
                                width: 85%;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .bar-3{
                            position: relative;
                            margin-top: 10px;
                            max-width: 440.5px;
                            height: 8px;
                            background-color: #e5e5e5;
                            span{
                                width: 85%;
                                height: 100%;
                                position: absolute;
                                background: linear-gradient(to right, #7450fe, #21d397);
                            }
                        }
                    }
                    .progressbar-4{
                        margin-bottom: 35px;
                        .progressbar__header{
                            max-width: 440.5px;
                            .progress__info{
                                width: 90%;
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                        .bar-4{
                            position: relative;
                            margin-top: 10px;
                            max-width: 440.5px;
                            height: 8px;
                            background-color: #e5e5e5;
                            span{
                                width: 90%;
                                height: 100%;
                                position: absolute;
                                background: linear-gradient(to right, #7450fe, #21d397);
                            }
                        }
                    }
                }
                .skills__btn{
                  margin-top: 60px;
                  .btn{
                        background: transparent;
                        border-left: 2px solid #7450fe;
                        border-right: 2px solid #21d397;
                        border-top: 2px solid #21d397;
                        border-bottom: 2px solid #7450fe;
                        border-radius: 3px;
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                        line-height: 44px;
                        padding: 15px 30px;
                        transition: 1s all ;
                        cursor: pointer;
                        &:hover{
                            background: linear-gradient(to right, #7450fe, #21d397);
                            color: $light-color;
                            transition: 1s all;
                        }
                }
            }
        }
    }
}

    //Services Section
    .services{
        background-image: url('/src/img/hero-2.webp');
        height: 60vh;
        background-position: center;
        width: 100%;
        position: relative;
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(4, 8, 29, 0.7);
            content: '';
            z-index: 1;
            top: 0;
            left: 0;
        }
        .services__main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            width: 100%;
            .services__header{
                color: $light-color;
                z-index: 3;
                margin-bottom: 16px;
                h2{
                    font-size: 38px;
                }
            }
            .services__title{
                z-index: 3;
                margin-bottom: 16px;
                p{
                    font-size: 14px;
                    color: $light-color;
                    font-weight: 300;
                }
            }
            .services__content{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .first__service{
                    max-width: 30%;
                    text-align: center;
                    z-index: 4;
                    .service__icon{
                        color: lightgreen;
                        font-size: 50px;
                    }
                    .service__name{
                        color: $light-color;
                        font-size: 20px;
                        margin: 20px 0;
                    }
                    .service__text{
                        font-size: 14px;
                        color: $light-color;
                        font-weight: 300;
                    }
                }
                .second__service{
                    max-width: 30%;
                    text-align: center;
                    z-index: 4;
                    .service__icon{
                        color: lightgreen;
                        font-size: 50px;
                    }
                    .service__name{
                        color: $light-color;
                        font-size: 20px;
                        margin: 20px 0;
                    }
                    .service__text{
                        font-size: 14px;
                        color: $light-color;
                        font-weight: 300;
                    }
                }
                .third__service{
                    max-width: 30%;
                    text-align: center;
                    z-index: 4;
                    .service__icon{
                        color: lightgreen;
                        font-size: 50px;
                    }
                    .service__name{
                        color: $light-color;
                        font-size: 20px;
                        margin: 20px 0;
                    }
                    .service__text{
                        font-size: 14px;
                        color: $light-color;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    //Feedbacks Section

    .feedbacks{
        padding: 100px 0;
        .feedbacks__main{
            display: flex;
            justify-content: space-between;
            .feedback__component{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .component__img{
                    max-width: 20%;
                    img{
                        border: 1px solid #dfdfdf;
                        border-radius: 50%;
                        width: 170px;
                    }
                    
                }
                .component__text{
                    max-width: 80%;
                    .component__up{
                        font-size: 48px;
                        color: #21d397;
                    }
                    .component__mid{
                        margin-top: 16px;
                        p{
                            font-size: 18px;
                            color: #51545f;
                        }
                    }
                    .component__bottom{
                        margin-top: 16px;
                        p{
                            color: #51545f;
                            span{
                                color: #b5aec4;
                            }
                        }
                    }
                }
            }
        }
    }

    //Discuss Section
    .discuss {
        margin-top: 60px;
        background-image: url('/src/img/xhero-3.webp');
        background-repeat: no-repeat;
        object-fit: cover;
        width: 100%;
        height: 40vh;
        position: relative;
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(4, 8, 29, 0.7);
            content: '';
            z-index: 1;
            top: 0;
            left: 0;
        }
    }

    .discuss__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 15px;
        width: 100%;
        height: 100%;
        color: $light-color;
        

        .discuss__header {
            z-index: 2;
            h2 {
                font-size: 40px;
            }
        }

        .discuss__text {
            margin-top: 16px;
            z-index: 2;
            p {
                font-size: 14px;
            }
        }

        .discuss__btn {
            margin-top: 30px;
            z-index: 2;
            button {
                color: #fff;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 44px;
                padding: 0 15px;
                width: 160px;
                height: 46px;
                border-left: 2px solid #7450fe;
                border-right: 2px solid #21d397;
                border-top: 2px solid #7450fe;
                border-bottom: 2px solid #21d397;
                background: transparent;
                cursor: pointer;
                border-radius: 2px;

                &:hover {
                    transition: 300ms all ease-in-out;

                }
            }
        }
    }
}


//News Section
.news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;

    .news__header {
        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: #232d37;
            line-height: 1.25;
            font-size: 38px;
        }
    }

    .news__text {
        margin-top: 15px;

        p {
            font-family: 'Poppins', sans-serif;
            color: #51545f;
            font-size: 14px;
            line-height: 2;
            font-weight: 400;
        }
    }

    .news__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        flex-wrap: wrap;

        .card__1 {
            max-width: 30%;
            background-color: $light-color;
            border: 1px solid #F1F1F1;
            transition: 300ms all ease-in-out;

            &:hover {
                transition: 300ms all ease-in-out;
                -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
            }

            .card__image {
                width: 100%;
                object-fit: cover;
                max-width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .card__content {
                padding: 30px;

                .card__header {
                    font-size: 18px;
                    color: #232d37;
                }

                .card__text {
                    margin-top: 16px;
                    font-weight: 300;
                    font-size: 14px;
                }

                .card__link {
                    margin-top: 16px;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #2bc0a4;
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }

        .card__2 {
            max-width: 30%;
            background-color: $light-color;
            border: 1px solid #F1F1F1;
            transition: 300ms all ease-in-out;

            &:hover {
                transition: 300ms all ease-in-out;
                -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
            }

            .card__image {
                width: 100%;
                object-fit: cover;
                max-width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .card__content {
                padding: 30px;

                .card__header {
                    font-size: 18px;
                    color: #232d37;
                }

                .card__text {
                    margin-top: 16px;
                    font-weight: 300;
                    font-size: 14px;
                }

                .card__link {
                    margin-top: 16px;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #2bc0a4;
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }

        .card__3 {
            max-width: 30%;
            background-color: $light-color;
            border: 1px solid #F1F1F1;
            transition: 300ms all ease-in-out;

            &:hover {
                transition: 300ms all ease-in-out;
                -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
                box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.31);
            }

            .card__image {
                width: 100%;
                object-fit: cover;
                max-width: 100%;

                img {
                    width: 100%;
                    height: auto;
                    border-style: none;
                }
            }

            .card__content {
                padding: 30px;

                .card__header {
                    font-size: 18px;
                    color: #232d37;
                }

                .card__text {
                    margin-top: 16px;
                    font-weight: 300;
                    font-size: 14px;
                }

                .card__link {
                    margin-top: 16px;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: #2bc0a4;
                    text-decoration: underline;
                    font-weight: 400;
                }
            }
        }
    }
}

footer {
    margin-top: 100px;
    background-color: $dark-color;
    padding: 80px 0 50px;

    .footer__container {
        display: flex;
        justify-content: space-between;

        .footer__col-1 {
            max-width: 20%;
            color: $light-color;
            padding: 0 15px;

            .header__col-1 {
                h6 {
                    font-size: 16px;
                }
            }

            .text__col-1 {
                margin-top: 16px;

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #b5aec4;
                }
            }

            .searchbox__col-1 {
                margin-top: 16px;

                form {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .searchbox {
                        width: 100%;
                        height: 40px;
                        padding: 0 15px;
                        color: #b5aec4;
                        border: none;
                        background-color: #2b2e3d;
                        border-radius: 2px;
                        font-size: 12px;
                        outline: none;
                    }

                    button {
                        padding: 5px 15px;
                        border: none;
                        font-size: 13px;
                        z-index: 5;
                        height: 40px;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 600;
                        cursor: pointer;
                        background: #7450fe;
                        background: -webkit-linear-gradient(to right, #7450fe, #21d397);
                        background: -webkit-linear-gradient(left, #7450fe, #21d397);
                        background: linear-gradient(to right, #7450fe, #21d397);
                    }
                }
            }

            .links__col-1 {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    color: $link-color;
                    font-size: 20px;
                }
            }
        }

        .footer__col-2 {
            max-width: 20%;
            color: $light-color;
            padding: 0 15px;

            .header__col-2 {
                h6 {
                    font-size: 16px;
                }
            }

            .text__col-2 {
                margin-top: 16px;

                a {
                    i {
                        color: $link-color;
                    }

                    font-size: 14px;
                    font-weight: 300;
                    color: #b5aec4;
                }
            }

            .time__col-2 {
                margin-top: 16px;

                span {
                    font-size: 12px;
                    color: #b5aec4;
                }
            }
        }

        .footer__col-3 {
            max-width: 20%;
            color: $light-color;
            padding: 0 15px;

            .header__col-3 {
                h6 {
                    font-size: 16px;
                }
            }

            .list__col-3 {
                margin-top: 16px;
                display: flex;
                justify-content: center;

                .footer__list {
                    display: flex;
                    justify-content: center;

                    .list__1 {
                        .footer__items {
                            margin: 0 0 15px -20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 1s all;

                            &:hover {
                                color: #21d397;
                                transition: 1s all;
                                transform: translateX(15%);

                                i {
                                    visibility: visible;
                                    color: #21d397;
                                }
                            }

                            i {
                                visibility: hidden;
                                font-size: 14px;
                                transition: 350ms all;
                                color: #21d397;
                            }

                            .footer__links {
                                font-size: 14px;
                                font-weight: 300;
                                color: #b5aec4;
                            }
                        }
                    }

                    .list__2 {
                        margin-left: 80px;

                        .footer__items {
                            margin: 0 0 15px -10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 1s all;

                            &:hover {
                                color: #21d397;
                                transition: 1s all;
                                transform: translateX(15%);

                                i {
                                    visibility: visible;

                                    &:hover {
                                        transition: 1s all;
                                        transform: translate(15%);
                                    }
                                }
                            }

                            i {
                                visibility: hidden;
                                color: #21d397;
                                transition: 350ms all;
                            }

                            .footer__links {
                                font-size: 14px;
                                font-weight: 300;
                                color: #b5aec4;
                            }
                        }
                    }
                }
            }
        }

        .footer__col-4 {
            max-width: 20%;
            color: $light-color;
            padding: 0 15px;

            .header__col-4 {
                h6 {
                    font-size: 16px;
                }
            }

            .contact__col-4 {
                margin-top: 16px;

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #b5aec4;
                    line-height: 32px;
                }
            }

            .street__col-4 {
                margin-top: 16px;

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #b5aec4;
                    line-height: 32px;
                }
            }

            .time__col-4 {
                margin-top: 16px;

                p {
                    font-size: 14px;
                    font-weight: 300;
                    color: #b5aec4;
                    line-height: 32px;
                }
            }
        }
    }
}

.copyright {
    background-color: #04081d;
    height: 50px;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .copyright__text {
            max-width: 45%;

            p {
                color: #51545f;
                font-size: 14px;
                line-height: 2;
                font-weight: 400;

                a {
                    color: #b5aec4;
                    margin-left: 5px;
                }
            }
        }

        .copyright__list {
            max-width: 45%;
            display: flex;
            justify-content: center;
            align-items: center;

            .copyright__items {
                margin: 0 20px;

                .copyright__links {
                    color: #51545f;
                    font-size: 14px;
                    line-height: 2;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width:1280px){
    .badge{
        display: none;
        .badge__main{
            flex-direction: column;
            flex-wrap: wrap;
            top: 0;
            .badge-1{
                max-width: 50%;
            }
            .badge-2{
                max-width: 50%;
            }
            .badge-3{
                max-width: 0%;
            }
        }
    }
    main{
        .about{
            .about__main{
                flex-wrap: wrap;
                .about__left{
                    max-width: 100%;
                }
                .about__right{
                    max-width: 100%;
                    margin-top: 40px;
                }
            }
        }
        .skills{
            .skills__main{
                flex-wrap: wrap;
                .skills__left{
                    max-width: 100%;   
                }
                .skills__right{
                    max-width: 100%;
                    margin-top: 60px;
                    
                }
            }
        }
    }
}


@media (max-width:992px){
    header{
        .navbar{
            
        }
    }
}

@media (max-width:768px){
    
}

@media (max-width:480px){
    
}