@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap');
//Variables
$light-color: #ffffff;
$dark-color: #212529;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
//Variables
$light-color: #ffffff;
$dark-color: #212529;

body,
html{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
header{
    height: 100px;
    background-color: $dark-color;
    border-bottom: $light-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .navbar{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            .icon{
                font-size: 36px;
                font-weight: 700;
                color: $light-color;
                cursor: pointer;
            }
        }
        .nav__list{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav__items{
                .nav__link{
                    font-size: 14px;
                    padding: 8px 25px;
                    color: $light-color;
                }
            }
            .icons{
                margin: 0 0 0 65px;
                a{
                    color: $light-color;
                    font-size: 19px;
                    padding: 8px;
                }
            }
        }
    }
}
main{
    .hero__img{
        background-color: #0078AA;
        height: 100vh;
        .hero__content{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .hero__trailer{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 60px;
                .play__btn{
                    i{
                    background-color: $light-color;
                    width: 30px;
                    height: 30px;
                    color: green;
                    border-radius: 32px;
                    font-size: 32px;
                    }
                }
                .trailer__link{
                    color: $light-color;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-decoration: underline;
                    margin-left: 10px;
                }
            }
            .hero__text{
                font-size: 48px;
                font-weight: 600;
                text-align: center;
                margin: 0 0 60px;
                color: $light-color;
                max-width: 1110px;
            }
            .hero__btn{
                .btn-1{
                    background-image: linear-gradient(to right, #7450fe 0%, #21d397 100%), linear-gradient(to right, #7450fe 0%, #21d397 100%);
                    color: $light-color;
                    width: 160px;
                    height: 46px;
                    border: none;
                    outline: none;
                    padding: 0 15px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: 600;
                    border-radius: 3px;
                }
                .btn-2{
                    border-left: 2px solid #7450fe;
                    border-right: 2px solid #21d397;
                    border-top:2px solid #21d397;
                    border-bottom:2px solid #7450fe;
                    color: $light-color;
                    width: 160px;
                    height: 46px;
                    background: none;
                    outline: none;
                    padding: 0 15px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: 600;
                    border-radius: 3px;
                }
            }
        }
    }
    .news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        .news__header{
            h1{
                font-family: 'Poppins', sans-serif;
            font-weight: 500;
            color: #232d37;
            line-height: 1.25;
            font-size: 38px;
            }
        }
        .news__text{
            margin-top: 15px;
            p{
            font-family: 'Poppins', sans-serif;
            color: #51545f;
            font-size: 14px;
            line-height: 2;
            font-weight: 400;
            }
        }
    }
}